/* put all shared css here */
a {
	color: var(--color-primary, #0070f3);
	text-decoration: none;
	border-radius: 4px;
	transition:
		background 0.2s,
		color 0.2s;
	font-weight: 500;
}
a:hover,
a:focus {
	background: var(--color-primary, #0070f3);
	color: #fff;
	text-decoration: underline;
}
.colored-component {
	background: #0070f3;
	color: white;
	border-radius: var(--size-6);
}
